ul.catalog-tags
  li.catalog-tags__item
    a.catalog-tags__link(href="#") Для квартиры
  li.catalog-tags__item
    a.catalog-tags__link(href="#") Для дачи
  li.catalog-tags__item
    a.catalog-tags__link(href="#") Для бизнеса
  li.catalog-tags__item
    a.catalog-tags__link(href="#") Дизайнерские
  li.catalog-tags__item
    a.catalog-tags__link(href="#") Недорогие
  li.catalog-tags__item
    a.catalog-tags__link(href="#") до 40 м2
