ul.breadcrumbs
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Печи
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Электрические
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Harvia
