.catalog-sort
  .catalog-sort__items
    button.catalog-sort__item.catalog-sort__item_active Сначала популярные
    button.catalog-sort__item Новизна
    button.catalog-sort__item Цена

  .catalog-sort__select
    button.catalog-sort__select-button
      +icon('sort', 'catalog-sort__select-button-icon')
      span.catalog-sort__select-button-text Сначала новые
    .catalog-sort__select-items

