ul.main-menu
  li.main-menu__item
    a.main-menu__link.main-menu__link_active(href="#") Сауны
  li.main-menu__item
    a.main-menu__link(href="#") Бани
  li.main-menu__item
    a.main-menu__link(href="#") Хаммамы
  li.main-menu__item
    a.main-menu__link(href="#") Бассейны
  li.main-menu__item
    a.main-menu__link(href="#") SPA-комплексы
  li.main-menu__item
    a.main-menu__link(href="#") Камины
  li.main-menu__item
    a.main-menu__link.main-menu__link_last(href="#") Еще
      +icon('arrow-down', 'main-menu__link-icon')
