.burger-popup
  ul.burger-popup__menu
    li.burger-popup__menu-item
      a.burger-popup__menu-link.burger-popup__menu-link_active(href="#") Сауны
        +icon('arrow-right', 'burger-popup__menu-link-icon')
    li.burger-popup__menu-item
      a.burger-popup__menu-link(href="#") Бани
        +icon('arrow-right', 'burger-popup__menu-link-icon')
    li.burger-popup__menu-item
      a.burger-popup__menu-link(href="#") Хаммамы
        +icon('arrow-right', 'burger-popup__menu-link-icon')
    li.burger-popup__menu-item
      a.burger-popup__menu-link(href="#") Бассейны
        +icon('arrow-right', 'burger-popup__menu-link-icon')
    li.burger-popup__menu-item
      a.burger-popup__menu-link(href="#") SPA-комплексы
        +icon('arrow-right', 'burger-popup__menu-link-icon')
    li.burger-popup__menu-item
      a.burger-popup__menu-link(href="#") Камины
        +icon('arrow-right', 'burger-popup__menu-link-icon')
    li.burger-popup__menu-item
      a.burger-popup__menu-link.burger-popup__menu-link_last(href="#") Еще
        +icon('arrow-right', 'burger-popup__menu-link-icon')
